<div class="alert alert-info alertinfo" style="margin-top: 0px">
<h1>  Data Preprocessing Tools  - UPDATED </h1>
</div>

<div class="alert-danger" style="margin-top: 0px">
<h3> For quick copy and paste I always define feature as column name I'm working on, therefore majority of codes here have word feature in them, which could be replaced with the column name </h3>
</div>

In [ ]:
feature = 'column_name'

<div class="alert-success" style="margin-top: 0px">
<h1> Importing the libraries </h1>
</div>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# turning off jupyter warnings
import warnings
warnings.filterwarnings('ignore')

<div class="alert-success" style="margin-top: 0px">
<h1> Creating a snippet </h1>
</div>

In [3]:
# Dictionary with list object in values
tempData = {
    'name' : ['AAA', 'BBB', 'CCC', 'DDD'],
    'code' : ['1', '2', '3', '4'],
    'result' : ['www@A, AAA, 1','www@B, BBB', 'www@C, 3', 'www@D, EEE, 5'],
    'link' : [np.nan,np.nan,np.nan,np.nan],
    'validity': [np.nan,np.nan,np.nan,np.nan]    
}

df = pd.DataFrame(tempData)

In [4]:
df

  name code         result  link  validity
0  AAA    1  www@A, AAA, 1   NaN       NaN
1  BBB    2     www@B, BBB   NaN       NaN
2  CCC    3       www@C, 3   NaN       NaN
3  DDD    4  www@D, EEE, 5   NaN       NaN

<div class="alert-success" style="margin-top: 0px">
<h1> Creating a copy </h1>
</div>

In [ ]:
df = df_origin.copy()

<div class="alert-success" style="margin-top: 0px">
<h1> Importing the dataset </h1>
</div>

In [ ]:
#Read/Save Data Formats

| Data Formate  | Read             | Save             |
| ------------- |:----------------:| ----------------:|
| csv           | `pd.read_csv()`  |`df.to_csv()`     |
| json          | `pd.read_json()` |`df.to_json()`    |
| excel         | `pd.read_excel()`|`df.to_excel()`   |
| hdf           | `pd.read_hdf()`  |`df.to_hdf()`     |
| sql           | `pd.read_sql()`  |`df.to_sql()`     |

In [ ]:
# From internet

# without headers
url = "https://archive.isc.usci.edu/ml/machine-learningdatabases/autos-imports-85.data"
df=pd.read_csv(url)
df.head()

# with headers
url = "https://archive.isc.usci.edu/ml/machine-learningdatabases/autos-imports-85.data"
headers = ["column1","column2",...,"column n"]
df = pd.read_csv(url, names = headers)
df.head()

In [ ]:
# From directory
df=pd.read_csv(r"C:\Users\giuse\Desktop\A-Z\Data.csv")
df.head()

In [ ]:
# From within same directory
df = pd.read_csv('Data.csv')
df.head()

In [ ]:
# from data base
import ibm_db_dbi
pconn = ibm_db_dbi.Connection(conn)
df = pd.read_sql(‘SELECT *FROM table_name’,pconn)
df.head()

<div class="alert-success" style="margin-top: 0px">
<h1> Beautifying </h1>
</div>

In [ ]:
# changing index - setting specific column to become an index
df.set_index(feature,inplace=True)

In [ ]:
# changing column names
df.rename(columns={'oldName1': 'newName1',
                   'oldName2': 'newName2'},
          inplace=True, errors='raise')

In [ ]:
# move a column to the first place 
y=df.pop(feature)
df.insert(0, feature, y)
df.head()

In [ ]:
# move a column to the last place 
y=df.pop(feature)
df.insert(len(df.columns), feature, y)
df.head()

In [ ]:
# select numerical columns only
df=df.select_dtypes(exclude ='object')
df.head()

In [ ]:
# dropping columns
df.drop(['column1', 'column2'], axis = 1, inplace = True)
df.head()

In [ ]:
# sorting values by column
df = df.sort_values(by=feature)

<div class="alert-success" style="margin-top: 0px">
<h1> Data info </h1>
</div>

In [ ]:
# Number of rows
len(df.index)
''' or '''
df.shape[0]

In [ ]:
# How many rows and columns
df.shape

In [ ]:
# How many unique rows
print('There are {} uniques categories.'.format(len(df[feature].unique())))

In [ ]:
# get index number of a column name
feature_index=df.columns.get_loc(feature)

In [ ]:
# print number of rows and number of unique rows info
print('There are {} rows in the original data'.format(df.shape[0]))
print('There are {} unique business ID numbers'.format(df[feature].nunique()))

<div class="alert-success" style="margin-top: 0px">
<h1> Duplicates </h1>
</div>

In [ ]:
# Finding rows that are exactly the same
duplicate_rows = df_origin[df.duplicated()]
print('There are {} duplicates'.format(duplicate_rows.shape[0]))

In [ ]:
# Removing duplicate rows from further analysis
df_origin = df_origin.drop_duplicates()
print('{} rows left to further analysis'.format(df_origin.shape[0]))

In [ ]:
# flagging duplicates
df['is_duplicate'] = df[['BId Postcode','BI Telephone','BI Website']].duplicated(keep='first')
df['reference_column'] = df['BId Postcode'] + df['BI Telephone'] + df['BI Website']
original = df[df['is_duplicate']==False].shape[0]
duplies = df[df['is_duplicate']==True].shape[0]
print('There are {} original and unique Business Id\'s. Another {} records are duplicates'.format(original,duplies))

<div class="alert-success" style="margin-top: 0px">
<h1> Missing data </h1>
</div>

In [ ]:
import missingno

# missing values overview
missingno.matrix(df_origin,figsize=(16,6))

In [ ]:
def find_missing_values(data,columns):
    missing_vals = {}   
    # df_length = len(dataframe)
    for column in columns:
        #total_column_values = dataframe[column].value_counts().sum()
        missing_vals[column] = len(data[column][data[column].isna()])
    return missing_vals

def missing_values(data):
    info = find_missing_values(data,columns = data.columns)
    return info

def miss_val_info(data, feature):    
    missing_val = find_missing_values(data,columns = data.columns)
    print("The number of missing values in column {} is".format(feature), + missing_val[feature])

In [ ]:
missing_values(df)

In [ ]:
# Temporary replacement of nan values with 000
miss_val_info(df,feature)
temp = '000'
df[feature].replace(np.nan,temp,inplace=True)
print('Replacement done')
miss_val_info(df,feature)

In [ ]:
# bringing back nan values
miss_val_info(df,feature)
df[feature] = df[feature].replace(' 000',np.nan)
print('Replacement done')
miss_val_info(df,feature)

In [ ]:
# select cells that contain missing data
df.loc[df[feature].isnull()]

In [ ]:
# replacing with mode
mode=df[feature].value_counts().idxmax()
df[feature].replace(np.nan,mode,inplace=True)

In [ ]:
# replacing with mean
avg1 = df[feature].astype('float').mean(axis=0)
df[feature].replace(np.nan, avg1, inplace=True)
df.head()

df_choice[feature].replace(np.nan,average,inplace=True) 
df_choice[feature].fillna(df_choice[feature].mean())

In [ ]:
# replacing with mean of a group
average = df.groupby('columnn_name_to_groupby').mean()[feature]
df.loc[pd.isna(df[feature]),feature] = average[df.loc[pd.isna(df[feature]),'columnn_name_to_groupby']].values

In [ ]:
# dropping rows with Nan values   (if <1% of data is missing dropping those rows is appropriate)
df.dropna(subset=[feature], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True) #reset index because we drop rows

In [ ]:
# check if any missing data left - if false then no more missing data
df.isnull().values.any()

<div class="alert-success" style="margin-top: 0px">
<h1> Filling in missing values from a reference table </h1>
</div>

In [ ]:
# Step 1: Create reference table and reference list - here is just an example
def create_ref():
    reference_table = df.copy()
    column_list = ['BI Business Name','BId Postcode','BI Telephone','BI Website'] 
    column_list.remove(feature)
    reference_table['reference_column'] = reference_table[column_list[0]] + reference_table[column_list[1]] + reference_table[column_list[2]]
    df['reference_column'] = df[column_list[0]] + df[column_list[1]] + df[column_list[2]]
    reference_list = reference_table['reference_column'].tolist()

    # creating reference table and reference list
    reference_table = reference_table[[feature,'reference_column']]
    reference_table = reference_table.loc[reference_table['reference_column'] == reference_table['reference_column']] # preventing reference being nan
    reference_table = reference_table.dropna()
    reference_table['flag'] = reference_table.drop(feature, axis=1).duplicated(keep='first')
    reference_table = reference_table[reference_table['flag']==False]
    reference_table = reference_table.drop('flag', axis=1)
    reference_list = reference_table['reference_column'].tolist()

In [ ]:
# Step 2: call created function above
reference_table, reference_list = create_ref()

In [ ]:
# Step 3: Fill in missing values
def replace_value(row):
    
    value_old = row[feature]
    if value_old != value_old or value_old == None:
        reference_value = row['reference_column']        
        if reference_value in reference_list:                
            value_new = reference_table[reference_table['reference_column']==reference_value].iloc[0,0]
            #print('Missing value was replaced with {}'.format(value_new))
            return value_new
        else:  
            #print("Missing value couldn't be replaced")
            return value_old
    else:
        #print('Not applicable')
        return value_old
    
df[feature]=df.apply(replace_value, axis=1)
df = df.drop('reference_column', axis =1)
after = len(df[feature][df[feature].isna()])
difference = was - after
print('{} missing values in feature {} were sucessfully filled in'.format(difference,feature))

<div class="alert-success" style="margin-top: 0px">
<h1> Data type </h1>
</div>

In [ ]:
# list the data types for each column
df_origin.dtypes

In [ ]:
# the dtype of the entire column 
df[feature].dtype

In [ ]:
# however object dtype is not exclusive and can contain multiple mixed types so let's check
print('Unique cell types:', *df[feature].apply(type).unique(), sep='\n- ')

In [ ]:
# Unifying data type
df[[feature]] = df[[feature]].astype('string')
print('Unique cell types:', *df[feature].apply(type).unique(), sep='\n- ')

In [ ]:
# changing data types for multiple columns
df[["Col1", "Col2"]] = df[["Col1", "Col2"]].astype("float")

In [ ]:
def unify_text(row):
    name = row[feature]
    name = name.replace('Ltd',"")
    name = name.replace('Limited',"")
    name = re.sub(r'[^a-zA-Z0-9]',"",name)
    name = name.strip()
    name = name.upper()
    return name   

df[feature]=df.apply(unify_text, axis=1)
print('Feature {} sucessfully formated'.format(feature))

In [ ]:
# Unit conversion
df['highway-mpg'] = 235/df['highway-mpg']                         #creates new column
df.rename(columns={'highway-mpg':'highway-L/100km'},inplace=True) #permanetly changes column name

<div class="alert-success" style="margin-top: 0px">
<h1> Regex </h1>
</div>

In [ ]:
import re

In [ ]:
# validating email address
pattern = "[a-zA-Z0-9]+@[a-zA-Z]+\.(com|edu|net)

In [ ]:
# Find all values with special symbols
''' special characters like (+ \ [] ^ ? . * -) need to be escaped with \ '''
pattern = '[/<>=_;:@~#|¬`!"£$%&()\-\*\.\?\^\[\]\+\\\]'
def find_symbols(row):
    value = row['name']
    if re.search(pattern,value) is not None:
        print(value)
        
df['name'] = df.apply(find_symbols, axis = 1)

<div class="alert-success" style="margin-top: 0px">
<h1> Binning </h1>
</div>

In [ ]:
# creating bins (equal size)
labels = ['Alone', 'Small_family', 'Medium_family', 'Large_family']
bins = [1, 2, 5, 8, np.inf]
df_joined['Group_binned'] = pd.cut(df_joined['Group_simple'], bins, right=False, labels=labels)

# creating bins (equal frequency)
labels = ['Very low','low','medium','high']
df_train[feature]=pd.qcut(df_train[feature], q=4,labels=labels)

<div class="alert-success" style="margin-top: 0px">
<h1> Data analysis </h1>
</div>

In [ ]:
# lenght analysis
length_list = df[feature].astype(str).apply(len).unique()
length_list = sorted(length_list)
for i in length_list:
    print('Sample of values with length of {}:'.format(i))
    print(df[df[feature].astype(str).str.len() == i][feature]
          .sample(5, replace=True))
    print()

In [ ]:
# changing two values at the same time
def double_app(row):
    if row['BusinessID'] == 4:
        row['BusinessID'] = 666
        row['BId Postcode'] = 'SO322'   
    return row
df = df.apply(double_app,axis = 1)

<div class="alert-success" style="margin-top: 0px">
<h1> Measure the run time </h1>
</div>

In [ ]:
import time
startTime = time.time()

#####your python script#####

executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

<div class="alert-success" style="margin-top: 0px">
<h1> Dummy variables </h1>
</div>

In [ ]:
# Align
test1_ready, test2_ready = test1_ready.align(test2_ready, join='inner', axis=1)

In [ ]:
# Encoding Using category codes approach

# One hot encoding 
df=pd.get_dummies(df,columns=['Country'],drop_first=False)   
or
df=pd.get_dummies(df,columns=['Purchased'],drop_first=True)


#dfg = df1h.groupby('Country').mean().reset_index()        # Sometimes you might want to group rows by Country and by taking the mean of the frequency of occurrence of each category
#dfg.head()

# Label encoding
df['Purchased'] = df['Purchased'].astype('category')       # This approach requires the category column to be of ‘category’ datatype
dfe['Purchased'] = df['Purchased'].cat.codes
df=dfe

In [ ]:
# Encoding using sklearn approach

# One hot Encoding 
X = df.iloc[:, :-1].values                               # turning independent variables into arrays
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough') # 0 is an index of a column to encode, passthrough means only column 0 is hot encoded, the rest of the columns will be ignored
X = np.array(ct.fit_transform(X))
print(X)

# Label Encoding 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [ ]:
# Encoding entire df at once

# Label Encoding 
from sklearn.preprocessing import LabelEncoder
dfo.apply(LabelEncoder().fit_transform)

# One hot Encoding 
train_ready = pd.get_dummies(train)
test_ready = pd.get_dummies(test)
train_ready.head()

<div class="alert-success" style="margin-top: 0px">
<h1> Feature scaling </h1>
</div>

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

<div class="alert-success" style="margin-top: 0px">
<h1> Save the data </h1>
</div>

In [ ]:
df.to_excel('clean_df.xlsx', index=False)