<div class="alert alert-info alertinfo" style="margin-top: 0px">
<h1>  Pandas Data frame slicing </h1>
</div>

<div class="alert-success " style="margin-top: 0px">
<h1> Create a data frame from two arrays </h1>
</div>

In [ ]:
dfv = pd.DataFrame((zip(x_pred, y_pred)), columns =['x_pred', 'y_pred'])

<div class="alert-success " style="margin-top: 0px">
    <h1> Select</h1>
</div>

In [ ]:
#Select all rows where value in column "column_name" = value
df[df.column_name==value]
or
df.loc[df['Cluster Labels']==0]

In [ ]:
#Select all rows based on multiple condition
df[(df.column_name==value1)|(df.column_name==value2)]

In [ ]:
#Select all rows where column contains string
df[df['column'].str.contains("string")]

<div class="alert-success " style="margin-top: 0px">
    <h1> Loc/iloc</h1>
</div>

In [ ]:
#select row a, column b (where a and b are the respective names)
df.loc['a','b']

<div class="alert-success " style="margin-top: 0px">
    <h1> Aggregate functions</h1>
</div>

In [ ]:
# to sort out index issues after aggregating
df=df2.groupby(['District']).agg([np.average]).reset_index()
df.columns = df.columns.droplevel(1)
df.head(2)

In [ ]:
# Average - find average of column Basepay
df['BasePay'].mean()

In [ ]:
# Sum - find average of column Basepay
df['BasePay'].sum()

In [ ]:
# Sum - for every column sum all rows
df.sum(axis=0)

<div class="alert-success " style="margin-top: 0px">
    <h1> Sort </h1>
</div>

In [ ]:
# sort by column - sort by column'Average Income'
df.sort_values(by=['Average Income'], ascending=False)

<div class="alert-success " style="margin-top: 0px">
    <h1> Find</h1>
</div>

In [ ]:
#Knowing one cell, get the value of another ex.Knowing that EmployeeName is Gary Jiminez, find his JobTitle
df[df['EmployeeName']=='GARY JIMENEZ']['JobTitle']

In [ ]:
#Find value when another column is max - Find EmployeeName when TotalPayBenefits is max
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

In [ ]:
#Find all different values and their frequencies in a column
df['column'].value_counts()

<div class="alert-success " style="margin-top: 0px">
<h1> List </h1>
</div>

In [ ]:
#List top n most common - value_counts()
df['column'].value_counts().head(n)

<div class="alert-success " style="margin-top: 0px">
<h1> Groupby </h1>
</div>

In [ ]:
#Group by one column, give average of another - Group by Year, give average of BasePay
df.groupby('Year').mean()['BasePay']

In [ ]:
# Group by one column, give average of another - Group by Year, give average of BasePay
df.groupby('Pclass').count()['Age']

<div class="alert-success " style="margin-top: 0px">
<h1> Unique </h1>
</div>

In [ ]:
#unique gives array of all unique values
df.District.unique()

In [ ]:
#nunique gives total count
df['column'].nunique()

<div class="alert-success " style="margin-top: 0px">
<h1> How many </h1>
</div>

In [ ]:
# Find how many specific entries in a particular column
df[df['column']=='entry'].count()
or
(df['Ticket']=='347077').sum()

In [ ]:
# Find when column only has one entry - How many Job Titles were represented by only one person in 2013? 
sum(df[df['Year']==2013]['column'].value_counts() == 1)

In [ ]:
#How many entries satisfying condition in a column? - How many people have the word blabla in their column? 
def func(x):
    if 'blabla' in x.lower():
        return True
    else:
        return False
sum(sal['column'].apply(lambda x: func(x)))

In [ ]:
#How many entries of form xx/25 in a column? - How many people have a credit card that expires in 2025?
sum(df['CC Exp Date'].apply(lambda x: x[3:]) == '25')

In [ ]:
How many entries with same part after @ in a column? - Split after @
df['Email'].apply(lambda x: x.split('@')[1]).value_counts()

<div class="alert-success " style="margin-top: 0px">
<h1> Column names </h1>
</div>

In [ ]:
# column names
df.columns.tolist()

In [ ]:
# column names that begins with a string
df.columns[df.columns.str.startwith('string')]

In [ ]:
# delete spaces in column names
df.columns.str.replace(' ','')

In [ ]:
# rename column
df = df.rename(columns={'Old': 'New'})

<div class="alert-success " style="margin-top: 0px">
<h1> For loops </h1>
</div>

In [ ]:
#iterating over every element from given column
title_index=df_choice.columns.get_loc('Title_original')
for i in df_choice.index:
    t=df_choice.iloc[i,title_index]
    print(t)

In [ ]:
title_index=df_choice.columns.get_loc('Title_original')
age_index=df_choice.columns.get_loc('Age')
average_series = df_choice.groupby('Title_original').median()['Age']
df_average = average_series.to_frame()
df_average.reset_index(level=0, inplace=True)

for i in df_choice.index:
    t=df_choice.iloc[i,title_index]
    a=df_average[df_average['Title_original']==t]['Age']
    b=pd.isnull(df_choice.iloc[i,age_index])    
    if b==True:        
        df_choice.iat[i,age_index]=a
    else:
        pass

In [ ]:
def replaceMissingAgesWithValueByTitle(data,values,feature):
    '''
        this function get dataframe and map object like {Mr:10,Mrs:30,.....} and replace every missing age with the value fromthe values by title
    '''
    data[feature] = data['Age']
    def handleMissingAge(row):
        if np.isnan(row['Age']):
            row[feature] = int(values[row['Title_original']]) ## here replace nan value with the value from values by title 
        return row
    return data.apply(handleMissingAge,axis=1)

ages_mean_by_title = df.groupby('Title').agg(np.mean)['Age']
df = replaceMissingAgesWithValueByTitle(df,ages_mean_by_title,'age_mean')
df.head()